CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

/bin/*
/lib/*
/build/*
/.vscode/*

/modules/python/src2/__pycache__
/modules/python/src2/typing_stubs_generation/__pycache__
/modules/python/src2/typing_stubs_generation/nodes/__pycache__
